@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.
<a href="Chat"> Chat</a>



<ChatMessageCard Role=MessageRole.Assistant>
    <strong>Warning:</strong> This is a <em>formatted</em> message 
    using raw HTML inside the component!
    Hello
</ChatMessageCard>

<ChatMessageCard Role="MessageRole.User">
    <strong>Warning:</strong> This is a <em>formatted</em> message 
    World
    Hello
</ChatMessageCard>

<input type="text" />